<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Product View</title>
    <style>
        .card {
        height: 100%;
        border-radius: 15px; /* Ajusta el valor según la cantidad de redondeo que desees */
        overflow: hidden; /* Esto asegura que el contenido redondeado no se salga del borde */
        background-color: #faf9a6; /* Color de fondo de la tarjeta, ajusta según tus preferencias */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para resaltar la tarjeta */
    }

    .img-thumbnail {
        width: 100%;
        height: 150px;
        object-fit: contain;
        border: 4px solid #333; /* Ajusta el valor del grosor y el color del borde según tus preferencias */
        border-radius: 10px; /* Ajusta el valor según la cantidad de redondeo que desees */
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .declaration {
        background-color: rgb(233, 175, 109);
        padding: 10px;
        margin-top: 10px;
    }

    .card-title {
        font-family: 'Roboto', sans-serif; /* Cambia 'Roboto' por la fuente que desees usar */
        font-size: 1.5rem; /* Ajusta el tamaño del título según tus preferencias */
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        font-style: italic; /* Estilo de letra cursiva */
    }

    </style>
</head>

<body>

    <div class="container mt-5">
        <div class="row mb-3">
            <div class="col-md-12">
                <form method="POST" action="/productos">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search products..." name="search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <% for( let sombrero = 0; sombrero < sombreros.length; sombrero++ ) { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img class="img-thumbnail" src="/images/<%=sombreros[sombrero].imagen%>" alt="">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-3"><%=sombreros[sombrero].nombre%></h5>
                            <p class="card-text">Type: <%=sombreros[sombrero].tipo%></p>
                            <p class="card-text">Material: <%=sombreros[sombrero].material%></p>
                            <p class="card-text">Price: <%=sombreros[sombrero].precio%></p>

                            <div class="declaration">
                                <label for="vueltas">Vueltas:</label>
                                <input type="number" id="vueltas" name="vueltas" min="30" max="100" value="30">
                                <br>

                                <label for="sombreroTipo">Tipo de sombrero:</label>
                                <select id="sombreroTipo" name="sombreroTipo">
                                    <option value="delgado">Delgado</option>
                                    <option value="ancho">Ancho</option>
                                </select>
                                <br>

                                <label for="ojilloTipo">Tipo de ojillo:</label>
                                <select id="ojilloTipo" name="ojilloTipo">
                                    <option value="oro">Oro</option>
                                    <option value="plata">Plata</option>
                                    <option value="normal">Normal</option>
                                </select>
                                <br>

                                <label for="listonColor">Color del listón:</label>
                                <input type="color" id="listonColor" name="listonColor" value="#ffffff">
                                <br>

                                <label for="copaSize">Tamaño de la copa (cm):</label>
                                <input type="number" id="copaSize" name="copaSize" min="19" max="22" value="19">
                                <br>

                                <button class="btn btn-dark mt-2">Agregar al carrito</button>

                            </div>
                        </div>
                    </div>
                </div>
            <% }; %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>
